._APP_NAME_SPACE__ConnectDb{
    color: red;
}
._APP_NAME_SPACE__Paragrafo{
    font-size: 50pt;
    display: flex;
    padding: 10px
}

._APP_NAME_SPACE__Bottone{
    padding: 10px;
    background-color: blueviolet;
    color: yellow;
    margin: 10px;
    
}
